@model Core.Domain.LinkedInPost

@{
    ViewBag.Title = "NewPost";
}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Request Post on LinkeIn  -   <u>Employee  - HR - IT Administrator</u></h3>
            <h3 class="panel-title">
            </h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("SubmitRequest", "LinkedIn", FormMethod.Post, new { id = "ShowForm",enctype="multipart/form-data" }))
            {

                <div class="table-responsive">
                    @Html.HiddenFor(modelItem => Model.EmpCode)
                    @Html.HiddenFor(modelItem => Model.Name)
                    @Html.HiddenFor(modelItem => Model.Position)
                    @Html.HiddenFor(modelItem => Model.Project)
                    @Html.HiddenFor(modelItem => Model.ProjectCode)

                    <table class="table table-bordered">
                        <tr>
                            <td colspan="6" class="alert alert-dark" role="alert">
                                <b>PERSONAL INFORMATION :</b>
                                <span style="color:red">
                                    <b>@Html.DisplayFor(model => Model.EmpCode)</b>

                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color:lightgray">Name</td>
                            <td><b>@Html.DisplayFor(model => Model.Name)</b></td>
                            <td style="background-color:lightgray">Position</td>
                            <td><b>@Html.DisplayFor(model => Model.Position)</b></td>
                            <td style="background-color:lightgray">Project</td>
                            <td> <span style="color:green"><b>@Html.DisplayFor(model => Model.Project)</b></span></td>
                        </tr>


                    </table>

                </div>
                 <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#056cd5;color:White;">
                        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>Linkedin Post Detail</h3>
                    </div>
                    <div class="col-sm-8">
                        <table class="table" border="0">
                            <tr>
                                <td style="color:#003087;font-size:xx-large">Post</td>
                                <td>@Html.TextAreaFor(model => Model.Post, new { rows = 4, columns = 20, @class = "form-control" })</td>
                            </tr>

                            <tr>
                                <td style="color:#003087;font-size:xx-large">Attachment</td>
                                <td>

                                    @Html.TextBoxFor(model => model.PostDocument, "", new { Type = "file", @multiple = "multiple" })

                                </td>
                            </tr>



                        </table>
                    </div>

                    <div class="col-lg-6 pull-right">

                        <input type="submit" id="btnprocess" value="Submit" class="btn btn-success " />

                    </div>
                </div>


            }
        </div>
    </div>
</div>