@using AJCCFM.Control
@using Core.Domain
@model Core.Domain.WhatsAppGroup

@{
    ViewBag.Title = "NewPost";
    string ForemanCode = ViewBag.ForemanCode;
}

<script src="~/Scripts/jquery-1.12.4.min.js"></script>

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Request WhatsApp Group -   <u>Employee  - Department Head /Project Manager - HR - WhatsApp Administrator</u></h3>
            <h3 class="panel-title">
            </h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("SubmitRequest", "WhatsAppgroup", FormMethod.Post, new { id = "ShowForm" }))
            {

                <div class="table-responsive">

                    @Html.HiddenFor(modelItem => Model.EmpCode)
                    @Html.HiddenFor(modelItem => Model.Name)
                    @Html.HiddenFor(modelItem => Model.Position)
                    @Html.HiddenFor(modelItem => Model.Project)
                    @Html.HiddenFor(modelItem => Model.ProjectCode)

                    <table class="table table-bordered">
                        <tr>
                            <td colspan="6" class="alert alert-dark" role="alert">
                                <b>PERSONAL INFORMATION :</b>
                                <span style="color:red">
                                    <b>@Html.DisplayFor(model => Model.EmpCode)</b>

                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color:lightgray">Name</td>
                            <td><b>@Html.DisplayFor(model => Model.Name)</b></td>
                            <td style="background-color:lightgray">Position</td>
                            <td><b>@Html.DisplayFor(model => Model.Position)</b></td>
                            <td style="background-color:lightgray">Project</td>
                            <td> <span style="color:green"><b>@Html.DisplayFor(model => Model.Project)</b></span></td>
                        </tr>


                    </table>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#056cd5;color:White;">
                        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>WhatsApp Group</h3>
                    </div>
                    <div class="col-sm-12">
                        <table class="table" border="0">
                            <tr>
                                <td style="color:#003087;font-size:x-large">If you would like to join AJES WhatsApp group,provide Mobile No.(e.g. +971XXXXXXXXX) </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Phone, "", new { @class = "form-control", style = "width:250px" })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </td>
                            </tr>

                            <tr>
                                <td style="color:#003087;font-size:xx-large">Submit To</td>

                                <td colspan="2">@Html.AJESADDropdownList("SubmitTo", ViewBag.ADUser as List<UserDetail>, ForemanCode) </td>

                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6 pull-right">

                        <input type="submit" id="btnprocess" value="Submit" class="btn btn-success " />

                    </div>
                </div>
            }

        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
