@model IEnumerable<AJCCFM.Models.Service.ServicePending>

<script>
    $(document).ready(function () {
        $('.archiveservice').attr('href', 'javascript://');

        $('.archiveservice').click(function () {
            var url = $('#deleteitemservice').data('request-url');
            var nRecordID = $(this).attr('RecordID');
            var $dialog = $('<div/>')
                .html("Warning: <br/><br/>Do you wish to continue?")
            $("#dialogServiceClosing")
                .dialog({
                    autoOpen: true,
                    resizable: false,
                    width: 300,
                    height: 200,
                    modal: true,
                    title: 'Assets No',

                    buttons: [
                        {
                            text: "Continue",
                            id: "continuebtn",
                            click: function () {

                                if ($('#txtAssestNoService').val() == '') {
                                    alert("Enter Assyst No");
                                    ('#txtAssestNoService').focus();
                                    return;
                                }


                                var mAssetsNo = $("#txtAssestNoService").val();

                                var _parameters = { AssetsNo: mAssetsNo, RecordID:  nRecordID };

                                $.ajax({
                                    url: url,
                                    type: "post",
                                    data: _parameters,
                                    success: function (data, textStatus, jqXHR) {

                                        $("#row_" + nRecordID).remove();
                                    }
                                });
                                $(this).dialog('close');
                            }
                        },
                        {
                            text: "Cancel",
                            id: "cancelbtn",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }]

                });
        });
    });
</script>
@{
    Layout = null;
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<div id="deleteitemservice" data-request-url="@Url.Action("ArchiveFolderReturnPartialView", "Services")"></div>

<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped" id="tblservice">
            <thead>
                <tr>
                    <th>RefNo</th>
                    <th>Service</th>
                    <th>Document</th>
                    <th>Archive</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="row_@item.ID">


                        <td>
                            <b>
                                @Html.ActionLink(item.RefNo, "ViewRequest", "Services", new { TransactionID = item.ID, Service = item.ServiceCode, Status = item.Status, Mode = "V" }, new { @class = "btn btn-link btn-sm" })

                            </b>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServiceName)
                        </td>



                        <td>@Html.ActionLink("Download", "GeneratePDF", "Services", new { RecordID = item.ID, ServiceCode = item.ServiceCode }, new { @class = "btn btn-success btn-sm" })</td>
                        <td>
                            <a class="archiveservice" Recordid="@item.ID"><img src="~/Content/images/archive-icon.png" style="width:40px;height:40px" /></a>
                        </td>



                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="dialogServiceClosing" style="display:none">

    <p>Assyst No : <input type="text" id="txtAssestNoService" /></p>
</div>