
@model IEnumerable<AJCCFM.Models.Service.ServicePending>
@{

    Layout = null;
}
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/AJCDataTables/jquery.dataTables.min.js"></script>



<script type="text/javascript">
    $(document).ready(function () {

        $('#tblService').DataTable({
            "iDisplayLength": 50,
            "aaSorting": [[0, "desc"]]
        });

        
    });

 
 

</script>






<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped" id="tblService">
            <thead>
                <tr>

                    <th>
                        Ref No
                    </th>

                    <th>
                        Emp No
                    </th>
                    <th>
                        Name
                    </th>

                    <th>
                        Service
                    </th>
                    <th>
                        Created On
                    </th>
                    <th>
                        Created by
                    </th>
                    <th>
                        Status
                    </th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                   
                <tr>



                    <td>
                        @Html.ActionLink(item.RefNo, "ViewRequest", "Services", new { TransactionID = item.ID, Service = item.ServiceCode, Status = item.Status, Mode = "V" }, new { @class = "btn btn-success btn-sm" })


                    </td>

                    <td>
                        <b>@Html.DisplayFor(modelItem => item.EmpCode)</b>
                    </td>



                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceName)
                    </td>

                    <td>
                        @item.CreatedOn.ToString("dd/MMM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Createdby)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusDescription)
                    </td>



                </tr>
                }
            </tbody>
        </table>

    </div>
</div>





