@model  AJCCFM.Core.Domain.Log.Log

@{

    ViewBag.Title = "View";


}

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
        $('#btnprocess').click(
            function () {

                 $('#AdjustmentModal').modal("show");
                 $('#btnprocess').attr("disabled", "disabled");
                 $('#btnprocess').attr("value", "Processing....");

            });

    });

    var Cancel = function () {
        $('#btnprocess').removeAttr("disabled", "disabled");
        $('#btnprocess').attr("value", "Approve");
        $('#AdjustmentModal').modal("hide");
    }

    var Save = function () {
      

        //validate for jdeno in case of hr manager
        if ($('#Status').val() == 0) {

            var message = $('#inputMessage').val();

            if (message.trim() == '') {
                alert('Please enter your Comments.');
                $('#Remarks').focus();
                return false;
            }
            $("#loaderDiv").show();
            var nRecordID = $('#ID').val();
            var RefNo = $('#RefNo').val();
            var Name= $('#Name').val();
            var ProcessOwner = $('#cmbProcessOwner :selected').text();
            var Remarks = message;
         }
        

       url = '@Url.Action("Assignment", "LogIncedent")'
        data = JSON.stringify({ 'ID': nRecordID, 'ProcessOwner': ProcessOwner, 'Remarks': Remarks, 'RefNo': RefNo,'AffectedUser' :Name })

        $.ajax
            ({
            type: "POST",
                url: url,
                data: data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $("#loaderDiv").hide();
                    window.location.href = response.Result;


                }
            });

    }




    var Reject = function () {
        $("#staticBackdrop").modal("show");

    }

      var submitRejectForm = function () {

        var message = $('#inputMessageReject').val();

        if (message.trim() == '') {
            alert('Please enter your Reason.');
            $('#inputMessageReject').focus();
            return false;
        }

        $("#loaderDiv").show();
          var ID = $('#ID').val();
          var RefNo = $('#RefNo').val();
          var Email = $('#Email').val();
          var Name = $('#Name').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Completed", "LogIncedent")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'ID': ID, 'Remarks': message, 'RefNo': RefNo, 'Email': Email,'Name' :Name}),
            dataType: "json",

           // data: 'name=' + name + '&email=' + email + '&message=' + message,

            beforeSend: function () {
                $('.submitBtnReject').attr("disabled", "disabled");
                $('.modal-body').css('opacity', '.5');
            },
            success: function (response) {
                $("#loaderDiv").hide();
                $("#staticBackdrop").modal("hide");
                window.location.href = response.Result;
            }
        });

    }
</script>


<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span style="color:green;font-size:xx-large">
                  Log Request
                </span> <span style="color:red;font-size:large">@Model.RefNo</span>
                @if (Model.Status == 1)
                {
                    <span style="color:blue;font-size:large">Assigned</span>
                }
                @if (Model.Status == 2)
                {
                    <span style="color:green;font-size:large">Completed</span>
                }
            </h3>
        </div>

        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered">

                    @Html.HiddenFor(modelItem => Model.ID)
                    @Html.HiddenFor(modelItem => Model.Status)
                    @Html.HiddenFor(modelItem => Model.RefNo)
                    @Html.HiddenFor(modelItem => Model.Email)


                    @Html.HiddenFor(modelItem => Model.EmpCode)
                    @Html.HiddenFor(modelItem => Model.Name)
                    @Html.HiddenFor(modelItem => Model.Department)
                    @Html.HiddenFor(modelItem => Model.Position)
                    @Html.HiddenFor(modelItem => Model.Project)
                    @Html.HiddenFor(modelItem => Model.ProjectCode)
                    @Html.HiddenFor(modelItem => Model.Reason)
                   


                
                    <tr>
                        <td style="background-color:lightgray">
                            EmpCode
                        </td>
                        <td><b>@Model.EmpCode</b></td>
                        <td style="background-color:lightgray">Name</td>
                        <td><b>@Model.Name</b></td>
                        <td style="background-color:lightgray">Job Title</td>
                        <td>@Model.Position</td>
                        <td style="background-color:darkkhaki">Project</td>
                        <td><b>@Model.Project</b></td>
                    </tr>
                    <tr>
                        <td style="background-color:#056cd5;color:White;font-size:large">Description </td>
                        <td colspan="4"><textarea rows="3" cols="70" style="font-weight:bold">@Model.Reason</textarea> </td>

                    </tr>

                   
             
                   


                </table>
             
            </div>

        </div>
    </div>
</div>



    <div class="col-lg-6">
        <div class="panel panel-default pull-right">
            @if (Model.Status == 0)
            {
                <input type="button" id="btnprocess" value="Assign To" class="btn btn-success" />

                <input type="button" onclick="Reject(@Model.ID)" id="Btnreject" value="Reject" class="btn btn-danger" />
            }

            @if (Model.Status == 1)
            {
                

                <input type="button" onclick="Reject(@Model.ID)" id="btnCompleted" value="Completed" class="btn btn-warning" />
            }

        </div>
    </div>


<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:#056cd5;color:White;">
            <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>Work Flow Log History</h3>
        </div>
        @{Html.RenderAction("GetLogHistory", "Dashboard", new { RecordID = Model.ID, Doc_Code = "LG" });}

    </div>
</div>



<div class="modal fade" id="AdjustmentModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="Cancel()">  &times;</button>
                <h3 class="modal-title">Confirm Assignment </h3>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <label for="inputMessage">Assign To</label>
                @Html.DropDownList("cmbProcessOwner", (IEnumerable<SelectListItem>)ViewBag.ProcessOwner)<br />
                <label for="inputMessage">Remarks</label>
                <textarea class="form-control" id="inputMessage" placeholder="Enter your Remarks"></textarea>

                <div style="text-align:center;display:none" id="loaderDiv">
                    <img src="~/Content/Images/Spinner.gif" width="150" />
                    <p style="color:red">Please wait.....</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning cancelbtn" data-dismiss="modal" onclick="Cancel()">Close</button>
                <a href="#" class="btn btn-success submitBtn" onclick="Save()">Confirm</a>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="staticBackdrop" data-coreui-backdrop="static" data-coreui-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Completed</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">

                    <div class="form-group">
                        <label for="inputMessage">Completed Remarks</label>
                        <textarea class="form-control" id="inputMessageReject" placeholder="Enter your reason"></textarea>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger submitBtnReject" onclick="submitRejectForm()">SUBMIT</button>
            </div>
        </div>
    </div>
</div>
