
@model Model.EzwareProject.EzwareViewModel

@{

    ViewBag.Title = "View";


}

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

<style>
    .fixTableHead {
        overflow-y: auto;
        height: 550px;
    }

        .fixTableHead thead th {
            position: sticky;
            top: 0;
        }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px 15px;
        border: 0px solid #529432;
    }

    th {
        background: #ABDD93;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {


        $('#btnprocess').click(

            function () {

                 $('#AdjustmentModal').modal("show");
                 $('#btnprocess').attr("disabled", "disabled");
                 $('#btnprocess').attr("value", "Processing....");

            });

    });

    var Cancel = function () {
        $('#btnprocess').removeAttr("disabled", "disabled");
        $('#btnprocess').attr("value", "Approve");
        $('#AdjustmentModal').modal("hide");
    }

    var Save = function () {



        $('#loaderDiv').show();
        $('.cancelbtn').attr("disabled", "disabled");
        $('.submitBtn').attr("disabled", "disabled");
        $('#remarks').val($('#inputMessage').val());
        $('#ShowForm').submit();


    }




    var Reject = function () {
        $("#staticBackdrop").modal("show");

    }

      var submitRejectForm = function () {

        var message = $('#inputMessageReject').val();

        if (message.trim() == '') {
            alert('Please enter your Reason.');
            $('#inputMessageReject').focus();
            return false;
        }

        $("#loaderDiv").show();
          var ID = $('#ID').val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("RejectForm", "EzwareForm")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'ID': ID, 'Remarks': message}),
            dataType: "json",

           // data: 'name=' + name + '&email=' + email + '&message=' + message,

            beforeSend: function () {
                $('.submitBtnReject').attr("disabled", "disabled");
                $('.modal-body').css('opacity', '.5');
            },
            success: function (response) {
                $("#loaderDiv").hide();
                $("#staticBackdrop").modal("hide");
                window.location.href = response.Result;
            }
        });

    }
</script>


<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <b>
                    EzBusiness User Right Request <span style="color:red;font-size:large">@Model.empdetail.RefNo</span>
                </b>
            </h3>
        </div>

        <div class="panel-body">
            <div class="table-responsive">
                @using (Html.BeginForm("ApproveRequest", "EzwareForm", FormMethod.Post, new { id = "ShowForm" }))
                {
                    <input type="hidden" id="remarks" name="remarks" />
                    <table class="table table-bordered">
                        
                        <tr>
                            <input type="hidden" id="ID" name="ID" value="@Model.empdetail.ID" />
                            <input type="hidden" id="Status" name="Status" value="@Model.empdetail.Status" />
                            <input type="hidden" id="RefNo" name="RefNo" value="@Model.empdetail.RefNo" />
                            <input type="hidden" id="Email" name="Email" value="@Model.empdetail.Email" />
                            <td style="background-color:lightgray">
                                EmpCode
                            </td>
                            <td><b>@Model.empdetail.EmpCode</b></td>
                            <td style="background-color:lightgray">Name</td>
                            <td><b>@Model.empdetail.Name</b></td>
                            <td style="background-color:lightgray">Job Title</td>
                            <td>@Model.empdetail.Position</td>
                            <td style="background-color:darkkhaki">Project</td>
                            <td><b>@Model.empdetail.Project</b></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="background-color:darkkhaki;font-size:larger">Required Project Access


                            <td style="color:red;font-size:large"><b>@Model.empdetail.AssignedProject</b></td>

                        </tr>
                     </table>
                    <div class="fixTableHead">

                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope='col' class="w-auto"><strong>Form Name</strong></th>
                                    <th scope="col">View</th>
                                    <th scope="col">Create</th>
                                    <th scope="col">Delete</th>
                                    <th scope="col">Print</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">All</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    for (int i = 0; i < Model.EzwareRights.Count; i++)
                                    {
                                        @Html.HiddenFor(m => Model.EzwareRights[i].form_name)

                                        <tr>
                                            <td style="font-size:large">@(Model.EzwareRights[i].form_name)</td>
                                            <td>@Html.CheckBoxFor(x => Model.EzwareRights[i].View)</td>
                                            <td>@Html.CheckBoxFor(x => Model.EzwareRights[i].Create)</td>
                                            <td>@Html.CheckBoxFor(x => Model.EzwareRights[i].Print)</td>
                                            <td>@Html.CheckBoxFor(x => Model.EzwareRights[i].Delete)</td>
                                            <td>@Html.CheckBoxFor(x => Model.EzwareRights[i].Edit)</td>
                                            <td>@Html.CheckBoxFor(x => Model.EzwareRights[i].All)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <hr />
                        <table border="0">

                            <tr>

                                <td>
                                    @if (Model.empdetail.Status == -1)
                                    {
                                        if (User.IsInRole("ITShareFolder"))
                                        {
                                            @Html.ActionLink("Download", "GeneratePDF", "Ezwareform", new { RecordID = Model.empdetail.ID }, new { @class = "btn btn-success btn-sm" })
                                        }
                                    }
                                </td>
                            </tr>
                        </table>
                 }
                    </div>

        </div>
    </div>
</div>


@if (ViewBag.Mode != "V")
{
    <div class="col-lg-6">
        <div class="panel panel-default pull-right">

            <input type="button" id="btnprocess" value="Approve" class="btn btn-success " />

            &nbsp; &nbsp; &nbsp;
            <input type="button" onclick="Reject(@Model.empdetail.ID)" id="Btnreject" value="Reject" class="btn btn-danger" />
        </div>
    </div>
}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:#056cd5;color:White;">
            <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>Work Flow Log History</h3>
        </div>
        @{Html.RenderAction("GetLogHistory", "Dashboard", new { RecordID = Model.empdetail.ID, Doc_Code = "EZP" });}

    </div>
</div>

<div class="modal fade" id="AdjustmentModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="Cancel()">  &times;</button>
                <h3 class="modal-title">Confirm Approval </h3>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <label for="inputMessage">Remarks</label>
                <textarea class="form-control" id="inputMessage" placeholder="Enter your Remarks"></textarea>
                <div style="text-align:center;display:none" id="loaderDiv">
                    <img src="~/Content/Images/Spinner.gif" width="150" />
                    <p style="color:red">Please wait.....</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning cancelbtn" data-dismiss="modal" onclick="Cancel()">Close</button>
                <a href="#" class="btn btn-success submitBtn" onclick="Save()">Confirm</a>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="staticBackdrop" data-coreui-backdrop="static" data-coreui-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Reject ?</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">

                    <div class="form-group">
                        <label for="inputMessage">Reason</label>
                        <textarea class="form-control" id="inputMessageReject" placeholder="Enter your reason"></textarea>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger submitBtnReject" onclick="submitRejectForm()">SUBMIT</button>
            </div>
        </div>
    </div>
</div>
